@{
    ViewData["Title"] = "Usage";
}
<h1>@ViewData["Title"]</h1>

<p>
    <br />- Click "Reservation" button on the navbar above.

    <br />- Enter the number of passengers for reservation.

    <br />- If you wish, you can also click the checkbox in order to transfer a part of passengers when one of the wagon became full.

    <br />- Observe the values on the table after you press the button.

    <br />- You can also observe the values in of the variables in the software by using debug.

    <br />

    <br />Note: If the table is not visible or working, be sure that you installed the database properly.

    <br />Note: Consider that the maximum capacity of reservation is 70% of total seats for each wagon.

    <br />

</p>
